*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  height: 100%;
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
ul {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
.layout-container {
  min-height: 100dvh;
}
header {
  background-color: var(--el-color-primary-light-3);
  color: white;
}
.filters-wrap {
  margin-bottom: var(--spacer);
}
footer {
  /*color: white;*/
  background-color: var(--el-color-info-dark-2);
  color: white;
  p {
    font-weight: 600;
  }
  a {
    color: white;
    text-underline-offset: 3px;
    font-weight: 600;
  }
}

.transactions-wrap {
  margin: auto;
  position: relative;
}
.pagination {
  margin-top: var(--spacer);
}
.transactions__table-wrap {
  height: 70dvh;
}
.transactions__table {
  min-width: 960px;
}
